@media screen and (max-width: 415px){
	body{
		font-size: 14px;
		header{
			.h-banner{
			    height: inherit;
			    background-size: cover;
			    background-position: 60%;
			    background-attachment: inherit;
			}
			nav{
				.user-nav{
				    width: 50%;
					.user-name{
						display: none;
					}
				}
			}
		}
		.m-bar{
			@include col-ct;
			.m-bar-content{
				width: 100%;
				.n-products{
					width: 100%;
					@include row-ct;
					a{
						margin:0 0.5em;
					}
				}
				@include col-ct;
				hr{
					display: none;
				}
				ul{
					margin-top: 1em;
					li{
						margin:0 0.5em;
					}
				}
			}
		.main{

			}
			.articles{
				padding: 3rem 0;
				article{
					width: 100%;
				    height: inherit;
				}
			}
		}
	}
	.arrow-cont{
		display: none;
		.arrow-icon{

		}	
	}

	.arrow-resp{
		display: inline-block;
		span{
			color:$cele;
			border-color:$cele;
		}
	}
	.modal{
		form{
			@include col-ct;
		    max-height: initial;
		    height: 100%;
		    padding: 4em 0;
		    width: 100%;
			.m-product{
				@include col-ct();
				picture{
					width: 100%;
					img{
						width: 100%;
					}
				}

				.m-info-product{
					h5,.m-p-name{
						text-align:center;
					}
				}
			}
		}
	}
	#purchaseModal{
		form{
			display: initial;
			.m-product{
				.m-info-product{
					width: 100%;
					.pb-price{
						img{
							width: 1.5em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 926px) and (min-width: 415px){ //PARA TABLET
	header{
		.h-banner{
			background-size: cover;
    		background-position-x: 90%;
		}
	}
}

@media screen and (max-width: 1200px) and (min-width: 150px){ //PARA TABLET

}